django==2.2.13
Pillow==6.1.0
djangorestframework==3.10.3
django-rest-auth==0.9.5
python-dotenv
django-cors-headers==2.5.2
django-allauth
asgiref==3.2.3
psycopg2==2.8.3
psycopg2-binary==2.8.3
gunicorn==19.7.1
django-storages==1.9.1
boto3==1.14.11
