<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<style>
#footer
{
    clear: both;
    border: 1px groove #aaaaaa;
    background: grey;
    color: White;
    padding: 0;
    text-align: right;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


</style>



<div id="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2020 All rights reserved. Design by David Tang
                        </div>
                    </div>
                </div>
            </div>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->