{% extends 'hbi-dashboard/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}


{% block content %}

<body>

{% include 'hbi-dashboard/_topbar.html' %}

    <div class="dashboard-main-wrapper">

        {% include 'hbi-dashboard/_leftsidebar.html' %}













        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">{{ title }}</h2>


                            </div>
                        </div>
                    </div>

 <!-- START -->
 <div class="row">
            <!-- ============================================================== -->
            <!-- [  6  ]  -->
            <!-- ============================================================== -->

                         <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="card">
                           <!--     <section class="card card-fluid">  -->

                           {% if listing  %}
                           {% for item1 in listing %}

                                 <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="items">
                                    <li class="list-group-item align-items-center drag-handle">
                                        <span class="drag-indicator"></span>
                                        <div> Title: {{ item1.title }} </div>
                                        <div> Type: {{ item1.type }} </div>
                                        <div class="btn-group ml-auto">
                                            <button class="btn btn-sm btn-outline-light"><i class="fas fa-edit"></i></button>
                                            <button onclick="myFunction()"><i class="far fa-trash-alt"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            {%  endfor %}
                            {%  endif %}
                            <!-- </section>  -->
                            </div>
                        </div>


         <!-- ============================================================== -->
    <!-- DOCUMENT SEARCH  -->
    <!-- ============================================================== -->

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="product-sidebar">
                                <div class="product-sidebar-widget">
                                    <h3 class="mb-0">Document Search</h3>
                                </div>
                                <div class="product-sidebar-widget">
                                    <h5 class="product-sidebar-widget-title">Type Of Document</h5>

                                    <div class="product-sidebar-widget">

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-1">
                                                <label class="custom-control-label" for="cat-1">Brochure</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-2">
                                                <label class="custom-control-label" for="cat-2">Certificate</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-3">
                                                <label class="custom-control-label" for="cat-3">E-Proof</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-4">
                                                <label class="custom-control-label" for="cat-4">Manual</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-5">
                                                <label class="custom-control-label" for="cat-5">PowerPoint</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-6">
                                                <label class="custom-control-label" for="cat-6">Proposal</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-7">
                                                <label class="custom-control-label" for="cat-7">Quotation</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-8">
                                                <label class="custom-control-label" for="cat-8">ALL Documents</label>
                                            </div>
                                </div>

                                </div>

                                <div class="product-sidebar-widget">
                                    <!-- <a href="#" class="btn btn-outline-light">Search</a>  -->
                                    <a href="{{ blog_item.pdf.url }}" class="btn btn-warning" download>Search</a>
                                </div>
                            </div>
    </div>
    <!-- ============================================================== -->
    <!-- DOCUMENT SEARCH  -->
    <!-- ============================================================== -->


 </div>


  <!-- ============================================================== -->
  <!-- PAGINATOR  -->
  <!-- ============================================================== -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
  </div>

 <!-- END -->

            </div>
            {% include 'hbi-dashboard/_footer.html' %}       <!-- footer -->
        </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
</body>

<script>
function myFunction() {
  //confirm("Are you sure to delete this document?");


  var confirmation = confirm("are you sure you want to remove the item 123?");
    if (confirmation) {
     // execute ajax
        alert('item is removed');
    }


}
</script>


{% endblock %}
