{% extends 'hbi-dashboard/base.html' %}
{% load static %}
{% block title %} | Blank {% endblock %}

{% block content %}

{% include 'hbi-dashboard/_topbar.html' %}

<div class="dashboard-main-wrapper">

        {% include 'hbi-dashboard/_leftsidebar.html' %}


    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">{{ heading }}</h2>
                        </div>
                    </div>
                </div>

<!-- START -->

<!-- =============================================================== -->
<!--  COLUMN 6                                                       -->
<!-- ============================================================== -->

   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<!-- ============================================================== -->
<!-- [  6  ]  -->
<!-- ============================================================== -->

 <!-- END -->

             </div>
            {% include 'hbi-dashboard/_footer.html' %}
          </div>
        </div>
    </div>

<script src="{% static 'js/david2-app.js' %}"></script>

{% endblock %}
