{% extends 'partials/upload_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Upload TWO-222</h2>
  <form class="mt-2" autocomplete="off" action="{% url 'upload2' %}" method="post">
    {% csrf_token %}

        <div class="form-group">
          <input type="text" class="form-control form-control-sm" placeholder="Title" name="title">
        </div>

        <div class="form-group">
          <input type="text" class="form-control form-control-sm" placeholder="Author" name="author" value="{{ blog_list.username }}">
        </div>

        <div class="form-group">
          <input type="text" class="form-control form-control-sm" placeholder="Description" name="description">
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Document</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="pdf">
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Cover</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile2" name="cover">
        </div>

        <input type="submit" class="btn btn-primary btn-block btn-sm" value="Submit" />

  </form>
{% endblock %}