<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'hbi-homepage_static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'hbi-homepage_static/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'hbi-homepage_static/css/style.css' %}" rel="stylesheet">

</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

        <!-- Brand -->
        <!-- <a class="navbar-brand" href="https://www.hengbao.com/en/" target="_blank"><strong>About Us</strong></a> -->

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link" target="_blank">Home</a>
              </li>

            <li class="nav-item">
              <a href data-toggle="modal" class="nav-link" data-target="#modalLoginForm">Login</a>
            </li>

            <li class="nav-item">
              <a href="{% url 'gallery' %}" class="nav-link" target="_blank">Gallery</a>
            </li>

          </ul>
        </div>
      </div>

</nav>
<!-- Navbar -->




{% block content %} {% endblock %}

<script type="text/javascript" src="{% static 'hbi-homepage_static/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hbi-homepage_static/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hbi-homepage_static/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hbi-homepage_static/js/mdb.min.js' %}"></script>
<script src="https://kit.fontawesome.com/a5df1c9b6b.js" crossorigin="anonymous"></script>
<script type="text/javascript">new WOW().init();</script>

</body>
</html>