{% extends 'hbi-homepage/base.html' %}
{% load static %}
{% block title %}{{ title }} {% endblock %}

{% block content %}



<div class="view" style="background-image: url({% static 'hbi-homepage_static/unsplash14.jpg' %}); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center" >

              <!-- Content -->


                <!-- ============================================================== -->
                        <!-- basic form  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header text-center"><strong>Forgot Password?</strong></h5>
                                    <div class="card-body">
                                       
                               <form class="mt-2 justify-content-center" autocomplete="off" action="{% url 'reset-password' %}"  method="post">
                                {% csrf_token %}
                                {% include 'partials/_messages.html' %}
                                <div class="form-group text-muted">We will send you a link to reset your password.
									<p></p>
                                    <input type="email" class="form-control form-control-sm"
                                        placeholder="Enter Your Email.." name="email" value="{{ data.email }}">

                                </div>

                                   <div class="modal-body d-flex justify-content-center">
                                       <input type="submit" class="btn btn-primary" value="Confirm"/>

                                   </div>

                            </form>






                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end basic form  -->
                        <!-- ============================================================== -->











              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </div>














{% endblock %}