<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'hbi-dashboard_static/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/vector-map/jqvmap.css' %}">
    <link href="{% static 'hbi-dashboard_static/assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'hbi-dashboard_static/assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hbi-dashboard_static/assets/vendor/daterangepicker/daterangepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hbi-dashboard_static/hbistyle.css' %}" />


  <title>HBI - {% block title %}{% endblock %}</title>
</head>

<body>



    {% block content %} {% endblock %}

    <!-- jquery 3.3.1  -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/chartist-bundle/Chartistjs.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js' %}"></script>
    <!-- chart C3 js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <!-- chartjs js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- dashboard finance js -->
    <script src="{% static 'hbi-dashboard_static/assets/libs/js/dashboard-finance.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'hbi-dashboard_static/assets/libs/js/main-js.js' %}"></script>
    <!-- gauge js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/gauge/gauge.min.js' %}"></script>
    <!-- morris js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/morris-bundle/morris.js' %}"></script>
    <script src="{% static 'hbi-dashboard_static/assets/vendor/charts/morris-bundle/morrisjs.html' %}"></script>
    <!-- daterangepicker js -->
    <script src="{% static 'hbi-dashboard_static/assets/vendor/full-calendar/js/moment.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
    <script>
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    </script>
  
</body>

</html>