<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="{% static 'signup_static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'signup_static/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'signup_static/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'signup_static/css/mystyles.css' %}">

  </head>
  <body>
  
  

         <nav class="navbar navbar-fixed-top">
		 
         <button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#navigation">
           &#9776;
         </button>
		 
		  <a class="navbar-brand float-xs-right float-sm-left" href="#"><img src="{% static 'signup_static/img/logo-small.png' %}" class="img-fluid"/></a>
		 
         <div class="collapse navbar-toggleable-xs" id="navigation">
          
		   <ul class="nav navbar-nav float-sm-right">
             <!-- <li class="nav-item">
               <a class="nav-link" href="#social">CONNECT</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#who">WHO</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#work">WORK</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#why">WHY</a>
             </li>
			 <li class="nav-item">
               <a class="nav-link" href="#customers">CUSTOMERS</a>
             </li> -->
			 <li class="nav-item">
               <a class="nav-link" href="#pricing">WHY</a>
             </li>
			 <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
             </li>
           </ul>
		   
         </div>
       </nav>
    <!-- HEADER -->
      
      <section id="header">
        
          <div class="container">
            
              <div class="row">
                  <div class="col-md-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
                    <img src="{% static 'signup_static/img/logo.png' %}" class="img-fluid"/>
                      <h2>THINGS WORK BETTER IN SPACE</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam quis, repudiandae reprehenderit doloremque fugiat molestias, corporis voluptas.</p>
                      <p class="hidden-sm-down">Optio quibusdam quis, repudiandae reprehenderit doloremque fugiat molestias, corporis voluptas. Lorem ipsum dolor sit amet, consectetur.</p>
                  </div>
                  
                  <div class="col-md-6 header-right hidden-sm-down wow fadeIn" data-wow-delay="1.5s" data-wow-duration="2s">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam quis, reprehenderit doloremque fugiat molestias, corporis voluptas.</p>
                      <form>
                        <fieldset class="form-group">
                            <label class="sr-only">Name</label>
                            <input type="text" class="form-control" placeholder="Your name...">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="email" class="form-control" placeholder="Your email...">
                        </fieldset>
                        <button type="submit" class="btn btn-outline-info btn-block">sign up</button>
                      </form>
                  </div>
              </div>
              
              <div class="row wow swing" data-wow-delay="2s">
                    <div class="col-md-12 text-xs-center">
                        <a href="#social"><i class="fa fa-chevron-down fa-3x"></i></a>
                    </div>
              </div>
          
          </div>
          
      </section>
      
    <!-- END HEADER -->  
      
    

      
    <!-- FOOTER -->
      
      <section id="footer">
        <div class="container wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
            
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <h3>About XL TECHNOLOGY</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper ante sem. Donec id sollicitudin lorem. Etiam id quam a velit scelerisque tempus. Phasellus sit amet velit sagittis, accumsan nunc id, hendrerit mi. Donec auctor leo non lectus auctor congue. Aliquam maximus placerat turpis ut auctor.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <h3>Say hello:</h3>
                    <ul class="list-unstyled">
                        <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> Location, Street, Code</p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="#">info@randomemail.com</a></p></li>
                        <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> +01 234 567 8910</p></li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2016 Designed by xxxx</p>
                </div>
            </div>
            
        </div>
      </section>
      
    <!-- END FOOTER -->
      

     <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
      
      <script src="{% static 'signup_static/js/wow.min.js' %}"></script>
              <script>
              new WOW().init();
              </script>
			  
  </body>
</html>